<!--
<app-page-title [heading]="heading" [subheading]="subheading" [icon]="icon"></app-page-title>
-->
<ngx-loading-bar></ngx-loading-bar>
<div class="main-card mb-3 card">
  <div class="card-body">
    <button type="button" [disabled]="!gitDiffStep" [ngStyle]="{'cursor' : !gitDiffStep ? 'not-allowed' : 'default'}" class="mb-2 mr-2 btn btn-light start-over" (click)="initForm()">
        <i class="fa fa-repeat" aria-hidden="true">
          <span>Start Over</span>
        </i>
    </button>
    <div class="vertical-time-simple vertical-without-time vertical-timeline vertical-timeline--animate vertical-timeline--one-column">
      <div class="vertical-timeline-item dot-info vertical-timeline-element">
        <div>
          <span class="vertical-timeline-element-icon bounce-in"></span>
          <div class="vertical-timeline-element-content bounce-in">
            <h5 class="card-title">Steps To Create Your Update</h5>
          </div>
        </div>
        <form class="form-inline form-timeline" [formGroup]="createUpdateForm" (ngSubmit)="onSubmitNewUpdate()">
          <div class="form-row">
            <div class="col-md-6">

              <div class="mb-2 mr-sm-2 mb-sm-0 position-relative form-group">
                <label class="mr-sm-2">Git Source Commit </label>
                <ng-select
                          style="min-width: 244px"
                          placeholder="e.g fb93aa1"
                          formControlName="gitSourceCommit"
                          [ngClass]="{ 'is-invalid': submitted && f.gitSourceCommit.errors }"
                          name="gitSourceCommit"
                          id="gitSourceCommit"

                          [items]="lastCommits"
                          [addTag]="true"
                          maxSelectedItems="1"
                          addTagText="Source Commit: "
                          bindLabel="gitSourceCommit"
                          [loading]="loadingLastCommits" >

                  <ng-template ng-tag-tmp let-search="searchTerm">
                    <b>Use this commit</b>: {{search}}
                  </ng-template>
                  <ng-template ng-header-tmp>
                    <span class="ng-select-header">Top 10 last commits</span>
                    <span class="ng-select-header">You may type different commit above.</span>
                  </ng-template>
                </ng-select>
                <span class="tool"
                      data-tooltip="Here you may find top last 10 commits, or type any custom commit."
                      data-tooltip-location="right"></span>

                <div *ngIf="submitted && f.gitSourceCommit.errors" class="invalid-feedback">
                  <div *ngIf="f.gitSourceCommit.errors.required">Git Source is required</div>
                </div>

               <!-- <input [ngClass]="{ 'is-invalid': submitted && f.gitSourceCommit.errors }"
                       name="gitSourceCommit"
                       id="gitSourceCommit"
                       formControlName="gitSourceCommit"
                       placeholder="e.g fb93aa1" type="text" class="form-control">-->

              </div>
              <div class="mb-2 mr-sm-2 mb-sm-2 position-relative form-group position-relative">
                <label class="mr-sm-2">Git Dest Commit</label>
                <ng-select
                        style="min-width: 244px"
                        placeholder="e.g d4f582a"
                        formControlName="gitDestCommit"
                        [ngClass]="{ 'is-invalid': submitted && f.gitDestCommit.errors }"
                        name="gitDestCommit"
                        id="gitDestCommit"

                        [items]="lastCommits"
                        [addTag]="true"
                        maxSelectedItems="1"
                        addTagText="Dest Commit: "
                        bindLabel="gitDestCommit"
                        [loading]="loadingLastCommits" >

                  <ng-template ng-tag-tmp let-search="searchTerm">
                    <b>Use this commit</b>: {{search}}
                  </ng-template>
                  <ng-template ng-header-tmp>
                    <span class="ng-select-header">Top 10 last commits</span>
                    <span class="ng-select-header">You may type different commit above.</span>
                  </ng-template>
                </ng-select>

                <!--<input [ngClass]="{ 'is-invalid': submitted && f.gitDestCommit.errors }"
                       name="gitDestCommit"
                       id="gitDestCommit"
                       formControlName="gitDestCommit"
                       placeholder="e.g d4f582a" type="text" class="form-control">-->
                <div *ngIf="submitted && f.gitDestCommit.errors" class="invalid-feedback">
                  <div *ngIf="f.gitDestCommit.errors.required">Git Dest is required</div>
                </div>
              </div>

              <button class="mt-2 btn btn-primary" [disabled]="isBusy || submitted" [ngStyle]="{'cursor' : submitted || isBusy ? 'not-allowed' : 'pointer'}"  type="submit">Submit</button>
              <p *ngIf="isBusy" style="font-size: 10px;color: #e44040;width: 300px;">Cannot create new update, someone is already using the system.</p>
            </div>
            <div class="col-md-6 ml-md-2" style="position: absolute; right: 0;">
              <div class="mb-2 mr-sm-2 mb-sm-2 position-relative form-group position-relative"
                  *ngIf="!updateSuccess">
                <div class="alert alert-danger" role="alert">
                  <p>Uh Shiiiiit....</p>
                  <p>{{ returnError }}</p>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>

      <div class="alert alert-info form-timeline diff-files-warn" *ngIf="noGitChanges">No git changes found.</div>
      <div class="vertical-timeline-item vertical-timeline-element" [hidden]="noGitChanges" [ngClass]="{ 'dot-info': gitDiffStep && !noGitChanges }">
        <div>
          <span class="vertical-timeline-element-icon bounce-in"></span>
          <div class="vertical-timeline-element-content bounce-in">
            <h5 class="card-title" id="step-diff">Git Diff-Files</h5>
            <p *ngIf="gitDiffStep">List of files that got changes between commits</p>
            <p *ngIf="gitDiffStep && fGit['controls']?.length>0">Total file(s): {{fGit['controls']?.length}}</p>
            <div *ngIf="gitDiffStep" class="alert alert-warning diff-files-warn" role="alert">
              Make sure those change(s) should be in the update!
            </div>
          </div>
        </div>
        <div class="row form-timeline" *ngIf="gitDiffStep">
          <form [formGroup]="gitDiffStepForm" (ngSubmit)="submitGitFilesDiff()">
            <div class="main-card mb-3 card">
              <div class="card-body">
                <perfect-scrollbar style="max-width: 480px; max-height: 280px;">

                  <ul class="list-group diff-files">
                    <ng-container *ngFor="let item of fGit.controls; let i = index">
                      <li class="list-group-item"
                          *ngIf="gitDiffFiles[i] && gitDiffFiles[i].fileName"
                          formArrayName="gitDiffFiles">
                        <input type="checkbox" id="{{i}}" style="display: none;"
                               checked="{{gitDiffFiles[i].checked}}"
                               [formControlName]="i">
                        <label for="{{i}}" class="form-check-input check" *ngIf="gitDiffFiles[i]?.fileName.length>0">
                          <svg width="18px" height="18px" viewBox="0 0 18 18">
                            <path d="M1,9 L1,3.5 C1,2 2,1 3.5,1 L14.5,1 C16,1 17,2 17,3.5 L17,14.5 C17,16 16,17 14.5,17 L3.5,17 C2,17 1,16 1,14.5 L1,9 Z"></path>
                            <polyline points="1 9 7 14 15 4"></polyline>
                          </svg>
                        </label>

                        <label class="form-check-label" for="{{i}}">
                          {{gitDiffFiles[i]?.fileName}}
                        </label>
                        <div class="divider"></div>
                      </li>
                    </ng-container>
                  </ul>
                </perfect-scrollbar>
              </div>
            </div>
            <div *ngIf="!gitDiffStepForm.valid" class="alert alert-danger">At least one file must be selected!</div>
            <button [disabled]="!gitDiffStepForm.valid || gitFormSubmitted" *ngIf="!createUpdateFinished" class="btn btn-primary" type="submit">Ok I'm Ready!</button>

          </form>
        </div>
      </div>

      <div class="vertical-timeline-item vertical-timeline-element" [hidden]="noGitChanges" [ngClass]="{ 'dot-info': updateSuccess && createUpdateFinished }">
        <div>
          <span class="vertical-timeline-element-icon bounce-in"></span>
          <div class="vertical-timeline-element-content bounce-in">
            <h5 class="card-title" id="step-download">Download update file - Optional</h5>
            <p *ngIf="createUpdateFinished">List of available servers</p>
          </div>
        </div>

        <div class="row form-timeline" *ngIf="updateSuccess && createUpdateFinished">
          <div class="main-card mb-3 card">
            <div class="card-body">
              <div *ngIf="gitFormSubmitted && updateSuccess && createUpdateFinished">
                Update gzip file is ready - download
                <a href="javascript:void(0);" target="_blank" (click)="downloadUpdate()">
                  here
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="vertical-timeline-item vertical-timeline-element" *ngIf="!noGitChanges" [ngClass]="{ 'dot-info': updateSuccess && createUpdateFinished }">
        <div>
          <span class="vertical-timeline-element-icon bounce-in"></span>
          <div class="vertical-timeline-element-content bounce-in">
            <h5 class="card-title">Upload to server</h5>
            <p *ngIf="createUpdateFinished">List of available servers</p>
          </div>
        </div>
        <div class="row form-timeline" *ngIf="createUpdateFinished">
          <form (ngSubmit)="submitUploadFile()">
            <div class="main-card mb-3 card">
              <div class="card-body">
                <select id="select-type-basic" name="selectedUploadServer" [(ngModel)]="selectedUploadServer">
                  <option *ngFor="let item of clientsConfig$?.data; let i = index" [ngValue]="item.name">
                    {{item.name}}
                  </option>
                </select>
              </div>
            </div>
            <button [disabled]="!createUpdateFinished || !selectedUploadServer" *ngIf="createUpdateFinished" class="btn btn-primary" type="submit">Upload</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>