
<div class="main-card mb-3 card">
  <div class="card-header">
    <div class="card-header-title font-size-lg text-capitalize font-weight-normal">Update Upload History</div>
  </div>
  <div class="table-responsive">
    <ng-template #loading>
      <p>Loading..</p>
    </ng-template>
    <table class="align-middle text-truncate mb-0 table table-borderless table-hover" *ngIf="(uploadHistories$ | async)?.data.length>0; else loading">
      <thead>
      <tr>
        <th class="text-center">#</th>
        <th class="text-center">Client Name</th>
        <th class="text-center">Update Ver</th>
        <th class="text-center">File Path</th>
        <th class="text-center">Timestamp</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let item of (uploadHistories$ | async)?.data">
        <td class="text-center text-muted" style="width: 80px;">{{ item.id }}</td>
        <td class="text-center" style="width: 80px;">
          <a [href]="'http://'+item.clients_configuration.name" target="_blank">{{ item.clients_configuration.name }}</a>
        </td>
        <td class="text-center"><a [href]="getGitUrl(item.update_version) ? getGitUrl(item.update_version) : '#'" target="_blank">{{item.update_version}}</a></td>
        <td class="text-center">{{item.update_file_path}}</td>
        <td class="text-center">
                                        <span class="pr-2 opacity-6">
                                            <i class="fa fa-business-time"></i>
                                        </span>
          {{ item.timestamp }}
        </td>
      </tr>
      </tbody>
    </table>
  </div>

    <div class="d-block p-4 text-center card-footer">
      <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center" [hidden]="(uploadHistories$ | async)?.last_page<=1">
          <li class="page-item" [ngClass]="{'disabled': (uploadHistories$ | async)?.current_page==1}">
            <input type="hidden" #prevPage [value]="(uploadHistories$ | async)?.prev_page_url">
            <button class="page-link" (click)="getPage(prevPage.value)" tabindex="-1" [disabled]="(uploadHistories$ | async)?.current_page==1">Previous</button>
          </li>
          <li class="page-item" *ngFor="let i of _.range((uploadHistories$ | async)?.last_page)">
            <button class="page-link" [ngClass]="{'current-page' : (uploadHistories$ | async)?.current_page==i+1}"
                    (click)="getPage(i+1)" [disabled]="(uploadHistories$ | async)?.current_page==i+1">{{i+1}}</button>
          </li>

          <li class="page-item"
              *ngIf="(uploadHistories$ | async)?.next_page_url">
            <input type="hidden" #nextPage [value]="(uploadHistories$ | async)?.next_page_url">
            <button class="page-link"
                    (click)="getPage(nextPage.value)">Next</button>
          </li>
        </ul>
      </nav>
  </div>
</div>