<div class="mt-lg-5">
    <p style="text-decoration: underline;
    font-style: oblique;
    color: #153758;
    font-size: 12px;">Connected Users:</p>
  <ul class="connected-users" style="padding: 0;">
    <li *ngFor="let user of (users)" style="margin-top:10px;list-style: none;">
        <img style="max-width: 24px; margin-right: 10px;" class="rounded-circle" [src]="user.avatar" alt="{{user.name}}">
        <span>{{user.name}}</span>
        <span *ngIf="busyMark(user)" style="display: -webkit-inline-box;color: red; text-transform: capitalize; margin-left: 4px;font-size: 9px;vertical-align: middle;">
            <i class="fa fa-arrow-circle-left"></i>
            currently using</span>
    </li>
  </ul>
</div>
