<div class="h-100 bg-plum-plate bg-animation">
  <div class="alert alert-danger alert-dismissible fade show" role="alert" *ngIf="reason">
    {{reason}}
    <button type="button" class="close" (click)="resetReson()" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="d-flex h-100 justify-content-center align-items-center">
    <div class="mx-auto app-login-box col-md-8">
      <div class="app-logo-inverse mx-auto mb-3"></div>
      <div class="modal-dialog w-100 mx-auto">
        <div class="modal-content login-box">
          <div class="modal-body">
            <div class="h5 modal-title text-center">
              <h4 class="mt-2">
                <div>Welcome back,</div>
                <span class="sub-title">Please sign in with your Magen-Google Account.</span></h4>
            </div>
            <div id="exampleInputGroup1" role="group" aria-describedby="exampleInputGroup1__BV_description_"
                 class="form-group">
              <div style="margin: 0 auto;display: table;">
                <!--<a [href]="loginWithGoogleURL" class="google-sign-in">
                  <img src="./assets/images/btn_google_signin_light_pressed.png">
                </a>-->

                <a [href]="loginWithGoogleURL" class="vsm-link">
                  <img src="./assets/images/login-btn.png" style="width: 220px;">
                </a>

              </div>


            <div class="divider"></div>
            <span class="mb-10 float-md-none bottom-title">
              Can access only with your organization account. </span>
              <!--  <div class="modal-footer clearfix">
              <!--<div class="float-left"><a [routerLink]="" class="btn-lg btn btn-link">Recover
                    Password</a></div>

          </div>-->
              <div class="float-md-none" style="margin-top: 10px">
                <button type="button" class="btn btn-primary btn-lg">Go back</button>
              </div>
        </div>
      </div>
      <div class="text-center text-white opacity-8 mt-3">
        Magen 100
      </div>
    </div>
  </div>
</div>
