body{
  background-color: #f3f3f3;
  position: relative;
  align-items: center;
  justify-content: center;
  max-width: 650px;
  margin: 0 auto;
}
.container{
  top: 100px;
  position: relative;
}
.inside{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 150px;
  border: 2px dashed #73cbff;
  background-color: #edf2f7;
  transition: background-color 160ms ease;
}
.item-desc{
  text-align: center;
}
.item-pic{
  max-width: 80px;
}
.inside button#purchase{
  background: #292ec3;
  color: #fff;
  margin-top: 10px;
  font-family: Roboto, sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-size: .875rem;
  line-height: 2.25rem;
  font-weight: 500;
  letter-spacing: .0892857143em;
  text-decoration: none;
  text-transform: uppercase;
  padding: 8px;
  display: inline-flex;
  position: relative;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  min-width: 64px;
  border: none;
  outline: none;
  line-height: inherit;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-appearance: none;
  overflow: visible;
  vertical-align: middle;
  border-radius: 4px;
}
.inside button{
  display: inline-block;
  font-size: 18px;
  background: transparent;
  border: 0px;
  cursor: pointer;
}
.upload {
  max-height: 105px;
}
.cloud{
  font-size: 4rem;
  color: #68bfd3;
  margin-bottom: 0.75rem;

}
.upload .upload-box {
  padding: 10px 20px;
  position: relative;
  margin: 0 auto;
  display: flex;
}

.upload .upload-box .fa {
  color: #cfcfcf;
}

.upload .upload-box .edit {
  display: inline-block;
  margin-left: 10px;
}

.upload .upload-box .edit > span {
  color: #666;
  display: block;
  line-height: 2rem;
  margin-bottom: .5rem;
}

.upload .upload-box.hover, .upload.hover .upload-box {
  border-color: #00a8e6;
}

.upload .upload-box.hover .fa, .upload.hover .upload-box .fa {
  color: #00a8e6;
}

/*Photos*/
.upload .photo-box .edit {
  display: inline-block;
  vertical-align: top;
  margin-left: 10px;
  cursor: pointer;
}

.upload .photo-box .photo {
  border: solid 1px #cfcfcf;
  padding: 2px;
  width: 96px;
  max-height: 96px;
  display: inline-block;
  overflow: hidden;
  cursor: default;
}

.upload .photo-box .photo img {
  width: 100%;
}


/*Files*/
.upload .file-box.hide {
  display: none;
}

.upload .file-box .file {
  padding: 4px;
  margin: 0;
  border: 1px solid #cfcfcf;
  border-radius: 2px;
  position: relative;
}

.upload .file-box .file a.download {
  display: inline-block;
  width: 95%;
}

.upload .file-box .file a.remove {
  position: absolute;
  right: 0;
  top: 2px;
  text-indent: -10000px;
  background-image: url(/assets/v4.old/shared/images/inline-clear-red.png);
  display: inline-block;
  height: 18px;
  width: 18px;
  background-position: 50% 50%;
  background-repeat: no-repeat no-repeat;
  z-index: 10;
}

/*Button*/
.button {
  text-align: center;
  vertical-align: top;
  display: inline-block;
  height: auto;
  line-height: 1.3rem;
  margin: 0;
  padding: 4px 1rem 6px 1rem;
  border: 1px solid rgba(0, 0, 0, 0);
  border-color: #b5b5b5;
  color: #5e5e5e;
  text-decoration: none;
  cursor: pointer;
  background-color: #f1f1f1;
  background-image: -webkit-gradient(linear,0 0,0 100%,from(#f8f8f8),to(#e9e9e9));
  background-image: -webkit-linear-gradient(top,#f8f8f8,#e9e9e9);
  background-image: linear-gradient(to bottom,#f8f8f8,#e9e9e9);
  background-repeat: repeat-x;
  border-radius: 2px;
  -moz-background-clip: padding-box;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -moz-appearance: none;
}

.button.primary {
  color: #fff;
  border-color: #0084dd;
  text-shadow: -1px -1px 1px #1278a2;
  box-shadow: inset 1px 1px 1px 0 #65c9e4;
  background-color: #29aee0;
  background-image: -webkit-gradient(linear,0 0,0 100%,from(#39b9e3),to(#19a3dd));
  background-image: -webkit-linear-gradient(top,#39b9e3,#19a3dd);
  background-image: linear-gradient(to bottom,#39b9e3,#19a3dd);
  background-repeat: repeat-x;
}

.button.primary:hover, .button.hover.primary {
  z-index: 99999 !important;
  cursor: pointer;
  color: #fff;
  background-color: #2dbcf2;
  background-image: -webkit-gradient(linear,0 0,0 100%,from(#40c4ef),to(#1ab4f5));
  background-image: -webkit-linear-gradient(top,#40c4ef,#1ab4f5);
  background-image: linear-gradient(to bottom,#40c4ef,#1ab4f5);
  background-repeat: repeat-x;
}


@keyframes loading {
  0% {
    width: 50pt;
    height: 50pt;
    margin-top: 0;
  }
  25% {
    height: 4pt;
    margin-top: 23pt;
  }
  50% {
    width: 4pt;
  }
  75% {
    width: 50pt;
  }
  100% {
    width: 50pt;
    height: 50pt;
    margin-top: 0;
  }
}

.loader {
  width: 50pt;
  height: 50pt;
  border-radius: 100%;
  border: #aac9d4 4pt solid;
  margin-left: auto;
  margin-right: auto;
  background-color: transparent;
  animation: loading 1s infinite;
}
.highlight{
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
.loading-wrap{
  position: relative;
  left: 0;
  right: 0;
  justify-content: center;
  align-items: center;
  top: 100px;
}
.loading-wrap span{
  margin: 0 auto;
  display: table;
}
