// User Pages

.app-logo {
  height: $logo-height;
  width: $logo-width;
  background: url('./assets/images/logo-mgn.png');
}

.app-logo-inverse {
  height: $login-logo-height;
  width: $login-logo-width;
  background: url('./assets/images/logo-mgn.png');
  background-repeat: no-repeat;
}

.app-login-box {
  .app-logo {
    margin-bottom: $layout-spacer-lg;
  }

  h4 {
    margin-bottom: $layout-spacer-x;
    font-weight: normal;

    div {
      opacity: .6;
    }

    span {
      font-size: $font-size-lg;
    }
  }
}

.current-page{
  background: #d4d4d4;
}
