.marl-5{
    margin-left: 5px;
}
.marl-10{
    margin-left: 10px;
}
.marl-20{
    margin-left: 20px;
}
.mart-15{
    margin-top: 15px;
}
.clickable{
    cursor: pointer;
}

.btn-create-new{
    vertical-align: bottom;
}

.btn-create-new i{
    margin-right: 6px;
}

.edit-row{
    background: #bac8ce;
    border: 1px solid #bdbdbd;
}

.edit-row input{
    border: 0;
    padding: 5px 15px;
    background-color: #e2e9ec;
}

.clients-config-modal .modal-content{
    padding: 10px;
}

.config-form {
    padding: 10px;
}
.config-form input{
    width: auto !important;
}

.config-form input.is-invalid{
    padding-right: 0;
}

