
<div class="row">
  <div class="col-md-8">
    <div class="card main-card mb-3">
      <div class="card-header">
        Clients Configuration
      </div>
      <div class="card-body">
        <ng-template #addNewConfig let-c="close" let-d="dismiss">
          <form [formGroup]="configForm" (ngSubmit)="onSubmitNewConfig()">
              <div class="modal-header">
                <h5 class="modal-title">Add new configuration</h5>
                <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <div class="main-card card mb-3">
                  <div class="card-body config-form">

                      <div class="form-row">
                        <div class="col-md-6">
                          <div class="position-relative form-group">
                            <label for="configName">Name</label>
                            <input class="form-control" id="configName" name="configName" formControlName="configName"
                                   placeholder="Type name here"
                                   [ngClass]="{ 'is-invalid': submitted && f.configName.errors }"
                                   type="text">
                            <div *ngIf="submitted && f.configName.errors" class="invalid-feedback">
                              <div *ngIf="f.configName.errors.required">Name is required</div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="form-row">
                        <div class="col-md-6">
                            <div class="position-relative form-group">
                              <label for="configAddress">Address</label>
                              <input class="form-control" id="configAddress" name="configAddress" formControlName="configAddress"
                                     [ngClass]="{ 'is-invalid': submitted && f.configAddress.errors }"
                                     placeholder="Type IP address"
                                     type="text">
                              <div *ngIf="submitted && f.configAddress.errors" class="invalid-feedback">
                                <div *ngIf="f.configAddress.errors.required">Address is required</div>
                              </div>
                            </div>
                        </div>
                      </div>

                  </div>
                </div>

              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" (click)="c('Close click')">Close</button>
                <button type="submit" class="btn btn-primary">Save changes</button>
              </div>
          </form>
        </ng-template>

        <button class="btn-create-new btn-shadow d-inline-flex align-items-center btn btn-success"
                type="button"
                (click)="openConfigModal(addNewConfig)">
          <i aria-hidden="true" class="fa fa-plus"></i>  Create New
        </button>
      </div>
    </div>

  </div>
</div>

<div class="row mart-15">
  <div class="main-card mb-3 card col-12">
    <div class="card-header">
      <div class="card-header-title font-size-lg text-capitalize font-weight-normal">Update Status</div>
    </div>
    <div class="table-responsive">
      <ng-template #loading>
        <p>Loading..</p>
      </ng-template>
      <table class="align-middle text-truncate mb-0 table table-borderless table-hover">
        <thead>
        <tr>
          <th class="text-center">#</th>
          <th class="text-center">Name</th>
          <th class="text-center">Address</th>
          <th class="text-center">Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let item of (clientsConfig$)?.data; let i = index" [ngClass]="{'edit-row' : item.isEditingMode}">
          <ng-container *ngIf="!item.isEditingMode">
            <td class="text-center text-muted" style="width: 80px;">{{ i+1 }}</td>
            <td class="text-center" style="width: 80px;">{{ item.name }}</td>
            <td class="text-center"><a [routerLink]="">{{item.address}}</a></td>
          </ng-container>
          <ng-container *ngIf="item.isEditingMode">
            <td class="text-center text-muted" style="width: 80px;">{{ i+1 }}</td>
            <td class="text-center" style="width: 80px;">
              <input type="text" [(ngModel)]="item.name"/>
            </td>
            <td class="text-center">
              <input type="text" [(ngModel)]="item.address"/>
            </td>
          </ng-container>
          <td class="text-center">
            <i class="fa fa-edit clickable" title="Edit" (click)="editConfig($event, item)"></i>
            <i class="fa fa-trash-o marl-10 clickable"
               [swal]="{ title: 'Are you sure?', showCancelButton: true, focusCancel: true }"
               (confirm)="deleteConfig($event, item)"
               (cancel)="doNothing()"
               title="Delete">

            </i>
            <i class="fa fa-check marl-20 clickable" title="Save Changes" (click)="updateConfig($event, item, i)" [hidden]="!item.isEditingMode"></i>
          </td>
        </tr>
        </tbody>
      </table>
    </div>

    <div class="d-block p-4 text-center card-footer">
      <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center" [hidden]="(clientsConfig$)?.last_page<=1">
          <li class="page-item" [ngClass]="{'disabled': (clientsConfig$)?.current_page==1}">
            <input type="hidden" #prevPage [value]="(clientsConfig$)?.prev_page_url">
            <button class="page-link" (click)="getPage(prevPage.value)" tabindex="-1" [disabled]="clientsConfig$?.current_page==1">Previous</button>
          </li>
          <li class="page-item" *ngFor="let i of _.range((clientsConfig$)?.last_page)">
            <button class="page-link" [ngClass]="{'current-page' : (clientsConfig$)?.current_page==i+1}"
                    (click)="getPage(i+1)" [disabled]="(clientsConfig$)?.current_page==i+1">{{i+1}}</button>
          </li>

          <li class="page-item"
              *ngIf="(clientsConfig$)?.next_page_url">
            <input type="hidden" #nextPage [value]="(clientsConfig$)?.next_page_url">
            <button class="page-link"
                    (click)="getPage(nextPage.value)">Next</button>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</div>

    <!--<button class="btn-pill btn-shadow btn-wide fsize-1 btn btn-dark btn-lg">
      <span class="mr-2 opacity-7">
          <i class="fa fa-cog fa-spin"></i>
      </span>
      <span class="mr-1">View Complete Report</span>
    </button>-->