<p>
  tests works!
</p>


<p><a href="#" (click)="logInWithFacebook()">Log In with the JavaScript SDK</a></p>
<p>
  <br/>

<div>
  <button id="cartIncrement">&#x2b;</button>
  <button id="cartDecrement">&#8722;</button>
</div>
<br />
<div id="count"></div>
<button id="purchase">Buy</button>
<div id="thankYouMessage">Thank you for your purchase!</div>

<!--  <fb:login-button
          (click)="logInWithFacebook()"
          scope="public_profile,email,user_friends" onlogin="checkLoginState();">
  </fb:login-button></p>-->
